#title
{
	background-color:#ff4c68;
	font-family:"Montserrat";
	padding-bottom:150px;
}
.heading
{
	font-family:"Montserrat";
	font-size:3rem;
	line-height:1.5;
	font-weight:bolder;
	color:white;
}
.container
{
	padding:3% 15%;
}
.navbar-brand
{
	font-family:"Ubuntu";
	font-weight:bolder;
	font-size:1.65rem !important;
	position:relative;
	right:10px;
}
.navbar
{
	padding:0 0 72px;
}
.nav-item
{
	padding:0 18px;
}
.nav-link
{
	font-size:1rem !important;
}
.row
{
	padding-top:80px;
}
.nav-link
{
	font-family:"Montserrat";
	font-size:1.1rem;
}
.download-button
{
	margin:3% 5% 3% 0;
}
.image
{
	width:60%;
	transform:rotate(25deg);
	position:absolute;
	right:30%;
}
#features
{
	padding:4% 15%;
	z-index:1;
	background-color:white;
	position:relative;
}
.feature-item
{
	text-align:center;
	padding:5%;
}
.text
{
	color:#8f8f8f;
	font-family:"Montserrat";
}
h3
{
	font-family:"Montserrat";
	font-weight:bolder;
}
.icon
{
	margin-bottom:5%;
	color:#ef8172;
}
.icon:hover
{
	color:#ff4c68;
}

.carousel-inner
{
	padding:7% 15%;
	text-align:center;
	background-color:#ef8172;
}
.hey
{
	color:white;
	font-family:"Montserrat";
	font-weight:bold;
	font-size:2.5rem;
	line-height:1.5;
}
.image-dog
{
	width:10%;
	border-radius:100%; /*makes the image as circle in shape*/
	margin:20px;
}
#press
{
	text-align:center;
	background-color:#ef8172;
	padding-bottom:3%;
}
.press-logo
{
	width:15%;
	margin:2%;
}
#pricing
{
	padding: 50px 90px;
	font-family:"Montserrat";
	margin:3% 0;

}
.taken
{
	padding-bottom:40px;
}
.selected
{
	position:relative;
	top:40px;
}
.plan1{
	font-size:2.2rem;
	font-weight:bold;
}
.plan{
	font-size:1.2rem;
	color:grey;

}
.head
{
	font-size:2rem !important;
	font-weight:bold;
}
.card
{
	
	text-align:center;
	border:2px solid black;
}
.same
{
	position:relative;
	top:50px;
	text-align:center;
}
.contents
{
	color:grey;
}
.btn-secondary:hover
{
	background-color:black !important;
}
.main{
	position:relative;
	top:50px;
}
@media(max-width:1028px)
{
	.image
	{
		transform:rotate(0);
		position:static;
		position:relative;
		top:80px;
		left:2px;
	}

	#title
	{
		text-align:center;
	}
}
#cta
{
	margin:4% 0;
	padding:7% 15%;
	background-color:#ff4c68;
	text-align:center;
	font-family:"Montserrat";
}
.line{
	font-weight:bolder;
	font-size:2.5rem;
	margin-bottom:30px;
	color:white;
}
.last
{
	margin:2% 2%;
}
#footer
{
	text-align:center;
	padding:0px 15% 3%;
	margin-top:0px;
}
.yes
{
	margin:10px 5px;
}